body {
  margin: 0;
  font-family: Arial;
}

#map {
  height: 100vh;
  width: 100vw;
  filter: contrast(1.05) saturate(1.1);
}

.panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  padding: 12px;
  border-radius: 10px;
  z-index: 1000;
  width: 220px;
}

input {
  width: 100%;
  margin-bottom: 6px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #f59e0b;
  color: white;
  border: none;
  border-radius: 6px;
}

.fab {
  position: absolute;
  bottom: 80px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: gold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 1000;
}

.job-ui {
  display: flex;
  gap: 10px;
  background: white;
  padding: 10px;
  border-radius: 12px;
 }
